html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet")
    link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet")
    link(rel="stylesheet" href="./styles.css")
  body
    div(id="root")= appStr
    script(src="bundle.js")
